<div *ngFor="let product of category.products" class = "products">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/' + category.name +'/products/' +product.id]">
      {{ product.name }}
    </a>
  </h3>

  <div class="img">
    <img [src]="product.img" class="images">
  </div>

  <div class="line"></div>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <p *ngIf="product.rating">
    Rating: {{ product.rating }} ★
  </p>

  <div class="button-group">
    <button id="bt_share" type="button" (click)="share(product.url)">
      Share
    </button>
    
    <button id="bt_like" type="button" (click)="toggleLike(product)">
      {{ isLiked(product) ? '❤️ Liked' : '🤍 Like' }}
    </button>
    
    <button id="bt_delete" type="button" (click)="deleteProduct(product)">
      🗑️ Delete
    </button>
    
    <span *ngIf="isLiked(product)" class="like-message">You liked this product!</span>
  </div>

  <app-product-alerts
    [product]="product"
    (notify)="onNotify()">
  </app-product-alerts>

</div>



